<div id="<%= dom_id ping_result %>">
  <p>
    <strong>Current machine:</strong>
    <%= ping_result.current_machine %>
  </p>

  <p>
    <strong>Current machine ip:</strong>
    <%= ping_result.current_machine_ip %>
  </p>

  <p>
    <strong>Target machine:</strong>
    <%= ping_result.target_machine %>
  </p>

  <p>
    <strong>Target machine ip:</strong>
    <%= ping_result.target_machine_ip %>
  </p>

  <p>
    <strong>Response time ms:</strong>
    <%= ping_result.response_time_ms %>
  </p>

  <p>
    <strong>Ping time:</strong>
    <%= ping_result.ping_time %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= ping_result.note %>
  </p>

</div>
